Data Extraction, Transformation, and Loading (ETL) for Walmart Sales Data into SQL Server Database

In [87]:
import pandas as pd
from sqlalchemy import create_engine

Data Extraction

In [88]:
df = pd.read_csv('Walmart.csv', encoding_errors='ignore') # Load Walmart sales dataset (ignore encoding issues if any)
df.head(50) # Preview first 50 rows to understand the data structure

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
5,6,WALM026,Denton,Electronic accessories,$85.39,7.0,25/03/19,18:30:00,Ewallet,4.1,0.48
6,7,WALM088,Cleburne,Electronic accessories,$68.84,6.0,25/02/19,14:36:00,Ewallet,5.8,0.33
7,8,WALM100,Canyon,Home and lifestyle,$73.56,10.0,24/02/19,11:38:00,Ewallet,8.0,0.18
8,9,WALM066,Grapevine,Health and beauty,$36.26,2.0,10/01/19,17:15:00,Credit card,7.2,0.33
9,10,WALM065,Texas City,Food and beverages,$54.84,3.0,20/02/19,13:27:00,Credit card,5.9,0.33
10,11,WALM013,Irving,Fashion accessories,$14.48,4.0,06/02/19,18:07:00,Ewallet,4.5,0.48
11,12,WALM035,San Angelo,Electronic accessories,$25.51,4.0,09/03/19,17:03:00,Cash,6.8,0.48
12,13,WALM027,Abilene,Electronic accessories,$46.95,5.0,12/02/19,10:25:00,Ewallet,7.1,0.48
13,14,WALM035,San Angelo,Food and beverages,$43.19,10.0,07/02/19,16:48:00,Ewallet,8.2,0.48
14,15,WALM031,Lewisville,Health and beauty,$71.38,10.0,29/03/19,19:21:00,Cash,5.7,0.48
15,16,WALM008,Corpus Christi,Sports and travel,$93.72,6.0,15/01/19,16:19:00,Cash,4.5,0.48
16,17,WALM029,Round Rock,Health and beauty,$68.93,7.0,11/03/19,11:03:00,Credit card,4.6,0.48
17,18,WALM061,Cedar Park,Sports and travel,$72.61,6.0,01/01/19,10:39:00,Credit card,6.9,0.33
18,19,WALM053,Conroe,Food and beverages,$54.67,3.0,21/01/19,18:00:00,Credit card,8.6,0.57
19,20,WALM013,Irving,Home and lifestyle,$40.3,2.0,11/03/19,15:30:00,Ewallet,4.4,0.48
20,21,WALM044,Pharr,Electronic accessories,$86.04,5.0,25/02/19,11:24:00,Ewallet,4.8,0.48
21,22,WALM088,Cleburne,Health and beauty,$87.98,3.0,05/03/19,10:40:00,Ewallet,5.1,0.33
22,23,WALM083,Farmers Branch,Home and lifestyle,$33.2,2.0,15/03/19,12:20:00,Credit card,4.4,0.33
23,24,WALM067,Haltom City,Electronic accessories,$34.56,5.0,17/02/19,11:15:00,Ewallet,9.9,0.33
24,25,WALM023,Midland,Sports and travel,$88.63,3.0,02/03/19,17:36:00,Ewallet,6.0,0.48
25,26,WALM001,Houston,Home and lifestyle,$52.59,8.0,22/03/19,19:20:00,Credit card,8.5,0.36
26,27,WALM072,Lancaster,Fashion accessories,$33.52,1.0,08/02/19,15:31:00,Cash,6.7,0.33
27,28,WALM046,Temple,Fashion accessories,$87.67,2.0,10/03/19,12:17:00,Credit card,7.7,0.48
28,29,WALM012,Garland,Food and beverages,$88.36,5.0,25/01/19,19:48:00,Cash,9.6,0.48
29,30,WALM075,San Marcos,Health and beauty,$24.89,9.0,15/03/19,15:36:00,Cash,7.4,0.33
30,31,WALM076,Huntsville,Fashion accessories,$94.13,5.0,25/02/19,19:39:00,Credit card,4.8,0.33
31,32,WALM098,Mineral Wells,Sports and travel,$78.07,9.0,28/01/19,12:43:00,Cash,4.5,0.18
32,33,WALM021,McAllen,Sports and travel,$83.78,8.0,10/01/19,14:49:00,Cash,5.1,0.48
33,34,WALM096,Eagle Pass,Health and beauty,$96.58,2.0,15/03/19,10:12:00,Credit card,5.1,0.18
34,35,WALM022,Mesquite,Food and beverages,$99.42,4.0,06/02/19,10:42:00,Ewallet,7.5,0.48
35,36,WALM095,Big Spring,Sports and travel,$68.12,1.0,07/01/19,12:28:00,Ewallet,6.8,0.33
36,37,WALM041,Mission,Sports and travel,$62.62,5.0,10/03/19,19:15:00,Ewallet,7.0,0.48
37,38,WALM070,Hurst,Electronic accessories,$60.88,9.0,15/01/19,17:17:00,Ewallet,4.7,0.33
38,39,WALM070,Hurst,Health and beauty,$54.92,8.0,23/03/19,13:24:00,Ewallet,7.6,0.33
39,40,WALM030,Richardson,Home and lifestyle,$30.12,8.0,03/03/19,13:01:00,Cash,7.7,0.48
40,41,WALM033,Pearland,Home and lifestyle,$86.72,1.0,17/01/19,18:45:00,Ewallet,7.9,0.48
41,42,WALM088,Cleburne,Home and lifestyle,$56.11,2.0,02/02/19,10:11:00,Cash,6.3,0.33
42,43,WALM079,La Porte,Sports and travel,$69.12,6.0,08/02/19,13:03:00,Cash,5.6,0.33
43,44,WALM042,Bryan,Food and beverages,$98.7,8.0,04/03/19,20:39:00,Cash,7.6,0.48
44,45,WALM036,Allen,Health and beauty,$15.37,2.0,16/03/19,19:47:00,Cash,7.2,0.48
45,46,WALM056,Rowlett,Electronic accessories,$93.96,4.0,09/03/19,18:00:00,Cash,9.5,0.33
46,47,WALM058,Port Arthur,Health and beauty,$56.69,9.0,27/02/19,17:24:00,Credit card,8.4,0.33
47,48,WALM015,Grand Prairie,Food and beverages,$20.01,9.0,06/02/19,15:47:00,Ewallet,4.1,0.48
48,49,WALM063,Georgetown,Electronic accessories,$18.93,6.0,10/02/19,12:45:00,Credit card,8.1,0.33
49,50,WALM021,McAllen,Fashion accessories,$82.63,10.0,19/03/19,17:08:00,Ewallet,7.9,0.48

Exploratory Data Analysis

In [89]:
# Display dataset information: column names, data types, and non-null counts

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [90]:
# Generate descriptive statistics for numerical columns

df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

Data Transformation & Cleaning

In [91]:
# Check for duplicate rows in the dataset

df.duplicated().sum()

np.int64(51)

In [92]:
df.drop_duplicates(inplace=True) # Remove duplicate records to ensure data integrity

df.duplicated().sum() # Verify duplicates have been removed

np.int64(0)

In [93]:
df.isnull().sum() # Check for missing values in each column

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [94]:
# Check dataset shape (rows, columns) before handling missing values

df.shape

(10000, 11)

In [95]:
df.dropna(inplace=True) # Drop rows containing any missing values
df.isnull().sum() # Verify missing values are removed

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [96]:
# Check dataset shape after dropping missing values

df.shape

(9969, 11)

In [97]:
# Inspect data types of all columns

df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [98]:
# Clean 'unit_price' column:

df['unit_price'] = (
    df['unit_price']
    .astype(str)                        # - Convert to string
    .str.replace('$', '', regex=False)  # - Remove '$' symbol
    .astype(float)                      # - Convert to float
    .round(2)                           # - Round to 2 decimal places
)

df['unit_price'].head() # Preview cleaned unit_price values

0    74.69
1    15.28
2    46.33
3    58.22
4    86.31
Name: unit_price, dtype: float64

In [99]:
# Convert 'date' column to datetime format (DD/MM/YY)
# Invalid date formats will be converted to NaT

df['date'] = pd.to_datetime(df['date'], format='%d/%m/%y', errors='coerce')
df['date'].head()

0   2019-01-05
1   2019-03-08
2   2019-03-03
3   2019-01-27
4   2019-02-08
Name: date, dtype: datetime64[ns]

In [100]:
# Create a new column 'total_sales' by multiplying quantity and unit price

df['total_sales'] = (df['quantity'] * df['unit_price']).round(2)
df['total_sales'].head()

0    522.83
1     76.40
2    324.31
3    465.76
4    604.17
Name: total_sales, dtype: float64

In [101]:
# Export cleaned dataset to a new CSV file

df.to_csv('Walmart_cleaned.csv', index=False)

Data Loading to SQL Server

In [102]:
# SQL Server connection configuration (Windows Authentication)
server = 'localhost'
database = 'Walmart_db'
driver = 'ODBC Driver 17 for SQL Server'

# Create SQLAlchemy engine for SQL Server
engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}"
    f"?driver={driver.replace(' ', '+')}&trusted_connection=yes"
)

# Test database connection
try:
    with engine.connect() as conn:
        print("SQL Server connection successful (Windows Auth)")
except Exception as e:
    print(f"Connection failed: {e}")

SQL Server connection successful (Windows Auth)

In [103]:
# Load cleaned dataset for database insertion

df = pd.read_csv("Walmart_cleaned.csv")

In [104]:
# Upload DataFrame to SQL Server table

df.to_sql(
    name="walmart_sales",
    con=engine,
    schema="dbo",
    if_exists="replace",   # use 'append' later
    index=False
)

51

In [105]:
# Query SQL Server to verify table creation

query = """
SELECT TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'
"""

tables = pd.read_sql(query, engine)
print(tables)

      TABLE_NAME
0  walmart_sales

In [106]:
# Fetch sample records from SQL Server table for validation

df = pd.read_sql(
    "SELECT TOP 10 * FROM walmart_sales",
    engine
)

df.head(50)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_sales
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17
5,6,WALM026,Denton,Electronic accessories,85.39,7.0,2019-03-25,18:30:00,Ewallet,4.1,0.48,597.73
6,7,WALM088,Cleburne,Electronic accessories,68.84,6.0,2019-02-25,14:36:00,Ewallet,5.8,0.33,413.04
7,8,WALM100,Canyon,Home and lifestyle,73.56,10.0,2019-02-24,11:38:00,Ewallet,8.0,0.18,735.60
8,9,WALM066,Grapevine,Health and beauty,36.26,2.0,2019-01-10,17:15:00,Credit card,7.2,0.33,72.52
9,10,WALM065,Texas City,Food and beverages,54.84,3.0,2019-02-20,13:27:00,Credit card,5.9,0.33,164.52